services:

  backend:
    build:
      context: .
      dockerfile: app/Dockerfile
    volumes:
      - ./app:/app
    ports:
      - "3000:3000"
    networks:
      - internal

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ai-frontend
    ports:
      - "5173:80"
    networks:
      - internal

  gateway:
    image: nginx:latest
    container_name: ai-gateway
    ports:
      - "80:80"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
    networks:
      - internal

networks:
  internal:
    driver: bridge
