version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: app/Dockerfile
    volumes:
      - ./app:/app
    ports:
      - "3000:3000"
    networks:
      - internal

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ai-frontend
    ports:
      - "5173:80"
    networks:
      - internal

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - internal

networks:
  internal:
    driver: bridge
