version: "3.9"

services:
  backend:
    build:
      context: .
    container_name: ml-backend
    ports:
      - "3000:3000"
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
    container_name: vue-frontend
    ports:
      - "8080:80"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
